<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="cn.egbert.monitorjob">

    <application
            android:label="@string/app_name"
            android:name=".JobApplication"
            tools:replace="android:label">
        <activity android:name=".ui.JobActivity">

        </activity>
        <activity
                android:name=".ui.JobMainActivity"
                android:label="@string/jmodel_title_activity_job_main"
                android:theme="@style/jmodel_AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>